hydra-core==1.3.2
numpy==1.24.4

#$ tqdm==4.65.0
#$ pandas==2.0.0
#$ torch==2.4.1

#$ scipy==1.10.1
#$ scikit-learn==1.2.2

#$ reranking==0.3.6 #https://pypi.org/project/reranking/ #https://github.com/yuanlonghao/reranking
#$ fairsearchcore==1.0.4@git+https://github.com/fani-lab/fairsearch-fair-python.git # till pr merge, due to the __hash__ bug explained in https://github.com/fair-search/fairsearch-fair-python/issues/4
##$ fairsearchcore==1.0.4 #https://github.com/fair-search/fairsearch-fair-python
##$ FairRankTune #https://pypi.org/project/FairRankTune/ #https://github.com/KCachel/FairRankTune #python 3.9+

#$ matplotlib==3.7.5
#$ matplotlib-inline==0.1.6
#$ seaborn

#$ evl.metric==0.0.0@https://raw.githubusercontent.com/fani-lab/OpeNTF/refs/heads/main/src/evl/metric.py
#$ pytrec-eval-terrier==0.5.2
